Bibliotecas

In [2]:
from bs4 import BeautifulSoup
import requests
from csv import writer

Realizando o request

In [3]:
url = 'https://www.pararius.com/apartments/almere'

page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

<Response [200]>

Selecionando as features e armazenando no formato csv

In [5]:
#encontrando todas as sessões (que armazenam as informações relevantes)
# com as classes informadas
lists = soup.find_all('section', class_='listing-search-item')

#selecionando itens de lists e criando uma tabela no formato csv

with open('housing.csv', 'w', encoding='utf8', newline='') as f:
    thewriter = writer(f)
    header = ['Title', 'Location', 'Price', 'Area', 'Rooms']
    thewriter.writerow(header)

    for i in lists:
        title = i.find('a', class_='listing-search-item__link--title').text.replace('\n', '')
        sub = i.find('div', class_='listing-search-item__sub-title').text.replace('\n', '')
        price = i.find('div', class_='listing-search-item__price').text.replace('\n', '')
        area = i.find('li', class_='illustrated-features__item--surface-area').text.replace('\n', '')
        rooms = i.find('li', class_='illustrated-features__item--number-of-rooms').text.replace('\n', '')

        info = [title, sub, price, area, rooms]
        thewriter.writerow(info)

Visualizando o dataset

In [41]:
import pandas as pd

housing = pd.read_csv('housing.csv')

housing.head()

,Title,Location,Price,Area,Rooms
0,House Leonard Bernstei...,1311 LN Almere (Muziekwijk noord) ...,"€1,750 per month",97 m²,4 rooms
1,House Hennahof ...,1339 EC Almere (Regenboogbuurt) ...,"€1,595 per month",118 m²,4 rooms
2,House Jan Campertstraa...,1321 RL Almere (Literatuurwijk) ...,"€1,495 per month",110 m²,3 rooms
3,House Purcellstraat ...,1323 MD Almere (Muziekwijk zuid) ...,"€1,800 per month",98 m²,4 rooms
4,Apartment Louis Davids...,1311 LW Almere (Muziekwijk noord) ...,"€1,400 per month",88 m²,3 rooms

Preparando o dataset

In [43]:
housing['Price'] = housing['Price'].str.replace('€', '').str.strip()
housing['Price'] = housing['Price'].str.replace('per month', '').str.strip()
housing['Area'] = housing['Area'].str.replace('m²', '').str.strip().astype(int)
housing['Rooms'] = housing['Rooms'].str.replace('rooms', '').str.strip()
housing['Rooms'] = housing['Rooms'].str.replace('room', '').astype(int)

housing.head()

,Title,Location,Price,Area,Rooms
0,House Leonard Bernstei...,1311 LN Almere (Muziekwijk noord) ...,"1,750",97,4
1,House Hennahof ...,1339 EC Almere (Regenboogbuurt) ...,"1,595",118,4
2,House Jan Campertstraa...,1321 RL Almere (Literatuurwijk) ...,"1,495",110,3
3,House Purcellstraat ...,1323 MD Almere (Muziekwijk zuid) ...,"1,800",98,4
4,Apartment Louis Davids...,1311 LW Almere (Muziekwijk noord) ...,"1,400",88,3